.author-container {
    width: 25%;
    margin-top: -25px;
}

.author-content-container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-image-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
}

.author-identity-container {
    width: 250px;
    margin-top: 25px;
}

.author-bio-container {
    width: 250px;
    margin-top: 12.5px;
}
 
.author-identity__name {
    font-size: 26px;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: 1%;
}

.author-identity__login {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: grey;
}

.author-bio-container {
    font-size: 16px;
    color: rgba(0,0,0,0.85);
}